.FeedItem {
  width: 600px;
  box-shadow: 9px 7px 40px -6px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  padding: 30px;
  height: 270px;
  margin: 20px auto;
  border-radius: 5px;
  position: relative;
  cursor: pointer;
  background-size: 100%;
  background-repeat: 'repeat';
}

.FeedItem__date {
  color: rgb(153, 153, 208);
}

.FeedItem__text p {
  font-size: 18px;
}

.FeedItem__profile-img {
  border-radius: 50%;
}
