.SettingsBar {
  height: 400px;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 1;
  background: rgb(31, 40, 55);
  transform: translateY(-350px);
  transition: 330ms transform ease-in-out;
}

.SettingsBar--open {
  transform: translateY(0px);
}

.SettingsBar__open-btn-wrapper {
  position: fixed;
  height: 50px;
  bottom: 0;
}

.SettingsBar__open-btn {
  text-decoration: underline;
  cursor: pointer;
  opacity: 1;
  transition: 180ms opacity ease-in-out;
}

.SettingsBar--open .SettingsBar__open-btn {
  pointer-events: none;
  opacity: 0;
}
