.SocialFeed {
  padding-top: 80px;
}

.SocialFeed__tri-column {
  width: 300%;
  transition: 600ms all ease-in-out;
  transform: translateX(-33%);
}

.SocialFeed__column0,
.SocialFeed__column1,
.SocialFeed__column2 {
  transition: 400ms opacity ease-in-out;
  opacity: 0;
}

.SocialFeed__tri-col-shift-0 {
  transform: translateX(0%);

  .SocialFeed__column0 {
    opacity: 1;
  }
}

.SocialFeed__tri-col-shift-1 {
  transform: translateX(-33%);

  .SocialFeed__column1 {
    opacity: 1;
  }
}

.SocialFeed__tri-col-shift-2 {
  transform: translateX(-66%);

  .SocialFeed__column2 {
    opacity: 1;
  }
}

.SocialFeed__col {
  width: 33%;
  display: inline-block;
}
