.u-center {
  margin: 0 auto;
}

.u-display--block {
  display: block;
}

.u-text-align--center {
  text-align: center;
}

.u-text-decoration--underline {
  text-decoration: underline;
}

.u-width--full {
  width: 100%;
}

.u-height--full {
  height: 100%;
}

.u-mt--normal {
  margin-top: 10px;
}

.u-position--fixed {
  position: fixed;
}
