%font-primary {
  font-family: 'Playfair Display', serif;
}

%font-secondary {
  font-family: 'Arimo', sans-serif;
}

p {
  @extend %font-secondary;
  font-size: 16px;
  line-height: 25px;
}

p, h1, h2, h3, span, label {
  color: rgb(212, 212, 212);
}

h1, .h1, h2, .h2, h3, .h3 {
  @extend %font-primary
}

h1, .h1 {
  font-size: 175%;
  letter-spacing: -0.5px;
}

h2, .h2 {
  font-size: 130%;
  letter-spacing: -0.5px;
}

h3, .h3 {
  font-size: 100%;
}
